* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body {
    background: linear-gradient(180deg, rgb(56, 1, 56), rgb(12, 7, 12) );
}

.analise-container {
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    }

.analise-final {
    width: 40%;
    height: 350px;
    background: white;
    padding: 25px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 30%;
}

.center {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
}

p {
    line-height: 20px;
    font-style: oblique;
    font-size: 15px;
}

footer {
    margin-top: 70px;
    color: #fff;
}
