* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

body {
    background: var(--background);
}

.analise-container {
    margin: auto;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-content: flex-end;
    }

.analise-final {
    width: 40%;
    height: 350px;
    background: var(--background-claro);
    padding: 25px;
    border-radius: 10px;
    box-shadow: 1px 1px 2px 2px var(--fonte-media);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

img {
    width: 30%;
}

.center {
    display: flex;
    justify-content: center;
}

h2 {
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    color: var(--fonte-clara);
}

p {
    line-height: 20px;
    font-style: oblique;
    font-size: 15px;
    color: var(--fonte-media);
}

