* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

body {
    background: linear-gradient(to bottom right, rgba(56, 1, 56), rgb(12, 7, 12) );
}

.block {
    display: inline-block;
}

.pets-container {
    width: 50%;
    height: 350px;
    background-color: transparent;
    box-shadow: 2px 2px rgb(238, 230, 230);
    border-radius: 10px;
    margin: auto;
    margin-top: 90px;
    padding: 5px;
    display: flex;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.arrow a img {
    width: 40px;
    height: 40px;
    display: flex;
    margin-bottom: 40px;

}

.arrow {
    display: flex;
    padding: 10px;
}

.arrow img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.description-pets {
    color: #FFF;
    padding: 10px;
    display: flex;
    align-items: center;
}

.description-pets h1 {
    margin-bottom: 15px;
}

.center {
    display: flex;
    justify-content: center;
}

.center a {
    background-color: rgb(238, 230, 230);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    margin-top: 30px;
}

.center a:hover {
    background: rgb(205, 236, 155);
}

footer{
    margin-top: 65px;
    color: #fff; ;
}