* {
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

body {
    background: var(--background);
}

.block {
    display: inline-block;
}

.pets-container {
    width: 50%;
    height: 350px;
    background-color: transparent;
    box-shadow: 2px 2px var(--fonte-media);
    border-radius: 10px;
    margin: auto;
    margin-top: 90px;
    padding: 5px;
    display: flex;
}

.arrow {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.arrow a img {
    width: 40px;
    height: 40px;
    display: flex;
    margin-bottom: 40px;

}

.arrow {
    display: flex;
    padding: 10px;
}

.arrow img {
    width: 250px;
    height: 200px;
    border-radius: 10px;
}

.description-pets {
    color: var(--fonte-clara);
    padding: 10px;
    display: flex;
    align-items: center;
}

.description-pets h1 {
    margin-bottom: 15px;
    color: var(--fonte-clara);
}

.center {
    display: flex;
    justify-content: center;
}

.center a {
    background-color: var(--fonte-media);
    padding: 10px 20px;
    border-radius: 5px;
    color: black;
    margin-top: 30px;
}
