*{
    font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

body {
  background: var(--background);
}

h1 {
    color: var(--fonte-clara);
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

input {
    background-color: transparent;
    border: 1px solid var(--fonte-media);
    border-radius: 3px;
    color: #FFFFFF;
}

.motivation-input {
    /*background-color: transparent;*/
    border-style: none;
    border-radius: 5px;
}

.motivation-input::placeholder {
    color: #000000;
}

input::placeholder {
    color: #FFFFFF;

}

.container-adoption {
    background-color: transparent;
    box-shadow: 1px 1px 2px 2px var(--fonte-media);
    color: var(--fonte-clara);
    width: 30%;
    height: 480px;
    margin: auto;
    border-radius: 10px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-name input {
    width: 90%;
    height: 25px;
}

.form-adoption{
    line-height: 25px;
    display: flex;
    justify-content: center;
}

.input-date {
    margin-top: 5px;
}

.input-check {
    margin: 12px 0px;
}

.row {
    display: flex;
}

.button-envio {
    display: flex;
    justify-content: center;
}

.button-envio button {
    background-color: var(--ciano);
    color: #000000;
    font-size: 12px;
    margin-top: 15px;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
}

footer {
    color: var(--fonte-escura);
    margin-top: 10px;
}