header {
  width: 100%;
  /* background: linear-gradient(180deg, #58EBB6 -40%, #116CF4 164.6%); */
  background: linear-gradient(to bottom right, rgba(56, 1, 56), rgb(12, 7, 12) );
  padding: 30px 50px 0 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container nav a:hover {
  font-size: 16px;
  color: rgb(182, 185, 178);
}

header img {
  max-width: 70px;
  height: 70px;
  width: 100%;
}

header nav ul {
  display: flex;
  list-style: none;
  font-weight: 300;
}

header nav ul li {
  margin-left: 15px;
}

header nav ul li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}