header {
  background: var(--background);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}


.container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container nav a:hover {
  color: var(--background-claro)
}

header img {
  width: 10%;

}

header nav ul {
  display: flex;
  list-style: none;
  font-weight: 300;
}

header nav ul li {
  margin-left: 15px;
}

header nav ul li a {
  color: #FFF;
  text-decoration: none;
  text-transform: uppercase;
}