body {
  background: var(--background);
  color: var(--fonte-clara);
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;

}


main {
  margin-top: 40px;
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 60px 0;
  font-family: 'Roboto', sans-serif;
  width: 100vw;
  height: 100vh;
}

h1 {
  font-size: 40px;
  font-weight: 300;
  margin-bottom: 30px;
}

p {
  font-size: 17px;
}

section {
  display: flex;
}

section article {
  width: 50%;
  /* border-right: 1px solid #E0E0E0; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

section article h1 {
  align-self: center;
}

section article img {
  width: 100%;
  margin-top: 50px;
  border-radius: 5px;
  max-width: 500px;
  box-shadow: 2px 2px var(--fonte-media);
}

section.where-find-us {
  margin-top: 60px;
}

footer{
  display: flex;
  justify-content: center;
  margin-top: 400px;
}