@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

:root {
  --background : #09090A;
  --backgroung-claro : #202024;
  --fonte-clara : #E1E1E6;
  --fonte-media: #C4C4CC;
  --fonte-escura : #7C7C8A;
  --ciano : #81D8F7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', 'Trebuchet MS', sans-serif;
}

.container {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
}

footer {
  margin-top: 150px;
  text-align: center;
  padding: 30px;
}