<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { page: 'analise', pageName: 'Analise' }) %>
<body>

    <%- include('./partials/header') %>

    <div class="analise-container">

        <div class="analise-final">
            <div class="center">
                <img src="/images/pet-icon.png" alt="dog">
            </div>

            <h2>Seu pedido está em análise!</h2>

            <p>
                Nós iremos analisar seus dados para que a adoção seja feita
                de forma responsável visando o bem estar de nosso animais.
                Logo mais você receberá um e-mail com nossa resposta, se 
                seguiremos ou não com o processo de adoção.
                Pedimos sua colaborção e paciência, queremos o melhor para 
                nosso Pets e seus possiveis tutores. <br>                 
                Desde já agradeçemos sua compreensão!
            </p>
        </div>

    </div>

    <footer>
        <p>Todos os direitos reservados &copy; 2022 - Maria Eduarda Silva</p>
    </footer>
    
</body>
</html>