<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head', { page: 'detail', pageName: 'Detail' }) %>
<body>
    <%- include('./partials/header') %>

        <div class="pets-container">
            
            <div class="description-pets">
                <img src="/images/pets2.jpg" alt="IMAGEM DO PET!">
            </div>

            <div class="description-pets">
               <div>
                 <h1> Olá eu me chamo <%= detail.name %> </h1> 
                <p>
                    Eu sou uma animal de resgaste e estou a procura de 
                    uma lar e donos que me amem e cuidem de mim!
                    Sou muito comportado e gosto de brincar, vou sempre protejer 
                    nossa casa e ser seu melhor amigo, tenho certeza que seremos 
                    um ótimo time, o que você acha?<br>
                    <3
                </p>
                     

                <div class="center">
                    <a href="/formulario">Adote esse baby</a>
                </div>

               </div> 
               
            </div>
        </div>


    <footer>
        <p>Todos os direitos reservados &copy; 2022 - Maria Eduarda Silva</p>
    </footer>

</body>
</html>