<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', { page: 'formAdoption', pageName: 'Formulario' }) %>

<body>

    <%- include('./partials/header') %>

    <h1>Conte-nos um pouco sobre você</h1>

    <div class="container-adoption">

        <div class="form-adoption">

            <form action="/formulario" method="POST">

            <div class="input-name border">

                <label for="name">Seu nome completo:</label><br>
                <input type="text" name="name" placeholder="Nome completo" required ><br>

            </div>

            <div class="input-date border">
                <label for="birthday">Quantos anos você tem?</label><br>
                <input type="date" name="birthday" required ><br>
            </div>

            <div class="input-check">


                <label for="residence">Você mora:</label><br>

                <input type="radio" name="residence" value="casa">
                <label for="residence">Casa</label>

                <input type="radio" name="residence" value="apartamento">
                <label for="residence">Apartamento</label><br>


                <label for="availability">Quanto tempo você passa em casa?</label><br>
                <input type="radio" name="availability" value="6">
                <label for="availability">6h</label>
                
                <input type="radio" name="availability" value="8">
                <label for="availability">8h</label>
                
                <input type="radio" name="availability" value="12">
                <label for="availability">12h</label><br>
            
               
            </div>


            <div class="border">
                <label for="motivation">Sua mensagem:</label><br>
                <textarea name="motivation" placeholder="Nos conte sua motivação para adotar um de nossos pets"
                cols="35" rows="8"></textarea><br>
            </div>

                <div class="button-envio">
                    <button type="submit">Enviar Informações</button>
                </div>


            </form>
        
        </div>

    </div>


    <footer>
        <p>Todos os direitos reservados &copy; 2022 - Maria Eduarda Silva</p>
    </footer>

</body>
</html>