<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', { page: 'formAdoption', pageName: 'Formulario' }) %>

<body>

    <%- include('./partials/header') %>

    <h1>Conte-nos um pouco sobre você</h1>

    <div class="container-adoption">

        <div class="form-adoption">

            <form action="/formulario" method="POST">

            <div class="input-name">

                <label for="name">Seu nome:</label><br>
                <input type="text" name="name" placeholder="digite seu nome" required ><br><br>

                <label for="name">Seu sobrenome:</label><br>
                <input type="text" name="name" placeholder="digite seu sobrenome" required ><br><br>

            </div>

            <div class="input-idade">
                <label for="idade">Informe sua idade:</label><br>
                <input type="number" name="idade" required ><br>
            </div>

            <div class="input-check">

                <label for="availability">Quanto tempo você passa em casa?</label><br>
                <input type="number" name="availability" id="availability"><br><br>

                <label for="telefone">Informe seu telefone:</label><br>
                <input type="text" name="telefone" id="telefone" placeholder="sem formatação!"><br>
            
            </div>

                <div class="button-envio">
                    <button type="submit">Enviar Informações</button>
                </div>


            </form>
        
        </div>

    </div>


    <footer>
        <p>Todos os direitos reservados &copy; 2022 - Maria Eduarda Silva</p>
    </footer>

</body>
</html>