<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', { page: 'formAdoption', pageName: 'Formulario' }) %>

<body>

    <%- include('./partials/header') %>

    <h1>Conte-nos um pouco sobre você</h1>

    <div class="container-adoption">

        <div class="form-adoption">

            <form action="/formulario" method="POST">

            <div class="input-name">

                <label for="nome">Seu nome:</label><br>
                <input type="text" name="nome" id="nome" placeholder="digite seu nome" required ><br><br>

                <label for="sobrenome">Seu sobrenome:</label><br>
                <input type="text" name="sobrenome" id="sobrenome" placeholder="digite seu sobrenome" required ><br><br>

            </div>

            <div class="input-idade">
                <label for="idade">Informe sua idade:</label><br>
                <input type="number" name="idade" id="idade" required ><br>
            </div>

            <div class="input-check">

                <label for="tempoDisponivel">Quanto tempo você passa em casa?</label><br>
                <input type="number" name="tempoDisponivel" id="tempoDisponivel" required><br><br>

                <label for="telefone">Informe seu telefone:</label><br>
                <input type="text" name="telefone" id="telefone" placeholder="sem formatação!" required><br>
            
            </div>

                <div class="button-envio">
                    <button type="submit">Enviar Informações</button>
                </div>


            </form>
        
        </div>

    </div>


    <%- include('./partials/footer') %>

</body>
</html>