<!DOCTYPE html>
<html lang="en">

    <%- include('./partials/head', { page: 'formAdoption', pageName: 'Formulario' }) %>

<body>

    <%- include('./partials/header') %>

    <h1>Conte-nos um pouco sobre você</h1>

    <div class="container-adoption">

        <div class="form-adoption">

            <form action="/formulario" method="POST">

            <div class="input-name border">

                <label for="name">Seu nome completo:</label><br>
                <input type="text" name="name" placeholder="Nome completo" required ><br>

            </div>

            <div class="input-date border">
                <label for="idade">Quantos anos você tem?</label><br>
                <input type="date" name="idade" required ><br>
            </div>

            <div class="input-check">

                <label for="residencia">Você mora:</label><br>
                <input type="radio" name="residencia" value="casa">
                <label for="residencia">Casa</label>
                <input type="radio" name="residencia" value="apartamento">
                <label for="residencia">Apartamento</label><br>

                <label for="media">Quanto tempo você passa em casa?</label><br>
            <div class="espacamento">
                <input type="radio" name="media" value="6">
                <label for="media">6h</label>
                
                <input type="radio" name="media" value="8">
                <label for="media">8h</label>
                
                <input type="radio" name="media" value="12">
                <label for="media">12h</label><br>
             </div>
               

            </div>

            <div class="border">
                <label for="motivacao">Sua mensagem:</label><br>
                <textarea name="motivacao" placeholder="Nos conte sua motivação para adotar um de nossos pets"
                cols="35" rows="8"></textarea><br>
            </div>

                <div class="button-envio">
                    <button type="submit">Enviar Informações</button>
                </div>


            </form>
        
        </div>

    </div>


    <footer>
        <p>Todos os direitos reservados &copy; 2022 - Maria Eduarda Silva</p>
    </footer>

</body>
</html>