<!DOCTYPE html>
<html>
  <%- include('./partials/head', { page: 'home', pageName: 'Home' }) %>
  <body>
    <%- include('./partials/header') %>
    <main>
    <section>
       <article class="we-are">
        <h1>Somos animais de resgate!</h1>

        <p>
          Por mais que esses pets pareçam livres e até independentes à primeira vista, a verdade 
          é que, na rua, eles estão constantemente sujeitos a problemas, que vão desde doenças 
          até maus tratos. Dessa forma, resgatar animais é um meio superincentivado para garantir 
          que esses companheirinhos tenham uma vida melhor.
          Se você se interessa por essa causa e deseja saber como fazer parte do resgate de animais, 
          separamos algumas dicas para ajudar nessa missão. Assim, você poderá dar a esses animais 
          o que eles precisam e transformar o mundo em um lugar melhor!

        </p>
        <br>
        <p>
          Ao encontrar um animal de rua, seja um gato, seja um cachorro, tenha paciência e busque 
          se aproximar com cuidado. Por não saber pelo que o animal passou, tenha calma ao 
          aproximar-se, justamente para que ele não se assuste ou se afaste. 
          Assim que o pet ganhar sua confiança e deixar que você o acaricie, é hora de levá-lo ao 
          veterinário. Veja se ele já está seguro para ir ao seu colo e decida o meio de transporte. 
          Em casos de resgate de animais ariscos, você também pode contatar um especialista para 
          auxiliar. Já com animais feridos, a dica é cobri-los com um pano e carregá-los até o 
          centro-veterinário mais próximo. 
        </p>

      </article>

 
      <article>
         <img src="/images/cat-dog-house.png" alt="Pets">
       </article>

    </section>

    <section class="where-find-us">
        <article>
          <img src="/images/cat-dog-cross.png" alt="find us">
        </article>

        <article>
          <h1>Adoção Consciente!</h1>
  
          <p>Adotar um animal de estimação não é apenas uma questão de vontade. 
            Junto com a decisão de ter um pet em casa surge uma série de responsabilidades. 
            Por isso, instituições de defesa dos animais lutam pela adoção consciente, para 
            que os novos tutores garantam o bem-estar do pet.
            No Brasil, não há legislação que determine como as pessoas devam adotar animais 
            de estimação. Contudo, a Lei n° 9.605, de 12 de fevereiro de 1998, estabelece, 
            em seu artigo 32, que práticas de “abuso, maus-tratos, ferir ou mutilar animais 
            silvestres, domésticos ou domesticados, nativos ou exóticos” implicam em detenção 
            de três meses a um ano e multa.
            O valor da multa é determinado pelos municípios, que são os responsáveis pela 
            fiscalização.
          </p>

          <br>
          <p> 
            Ainda de acordo com a coordenadora, é necessário que os tutores reconheçam que, ao 
            ter um animal em casa, é necessário levar em conta todos os cuidados e necessidades 
            relacionadas ao pet. “O animal é um ser senciente [que tem capacidade de sentir]. 
            A pessoa tem que entender que, em caso de abandono ou de desistência da adoção, o 
            cachorro ou gato pode ter problemas psicológicos. O tutor não pode simplesmente desistir 
            do animal”, explica.
            Por isso, Fernanda ressalta a necessidade que os tutores devem ter em dar a assistência 
            à saúde do animal (com vacinação, alimentação, levar o pet ao veterinário), o espaço 
            designado a ele em casa e o tempo dado de atenção ao pet durante a rotina do tutor.
          </p>

         </article>
         
    </section>

    <%- include('./partials/footer') %>
    </main>


  </body>
</html>
