<!DOCTYPE html>
<html>
  <%- include('./partials/head', { page: 'login', pageName: 'Login' }) %>
  <body>
    <main>
      <form action="/login" method="POST">
        <img src="/images/pet-icon.png" alt="Logo">

        <label for="name">Seu nome de usuário:</label>
        <input placeholder="Insira seu nome" type="text" name="username" id="name" />
        <label for="password">Senha</label>
        <input placeholder="Insira sua senha" type="password" name="password" id="password" />

        <% if(error) { %>
          <div class="error">
            <p><%= error %></p>
          </div>
        <% } %>
        <button type="submit">Logar</button>
        <div class="line-or">
          <hr><p>ou</p><hr>
        </div>
        <p><a href="/register">Cadastre-se aqui</a></p>
      </form>
    </main>
  </body>
</html>
