<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head', { page: 'register', pageName: 'Register' }) %>
</head>
<body>

    <main>
        <form action="/register" method="POST">
          <img src="/images/dog.png" alt="Logo">
            
          <label for="name">Seu nome:</label>
          <input placeholder="Insira seu nome" type="text" name="name" id="name" />
          <label for="username">Seu nome de usuário:</label>
          <input placeholder="Escolha um nome de usuário" type="text" name="username" id="username" />
          <label for="password">Senha:</label>
          <input placeholder="Insira uma senha" type="password" name="password" id="password" />
  
          <button type="submit">Criar conta</button>
  
          
        </form>
      </main>
    
</body>
</html>