<header>
  <div class="container">
    <img src="/images/pet-icon.png" alt="Logo">

    <nav>
      <ul>
        <li>
          <a href="/home">Home</a>
        </li>
        <li>
          <a href="/pets">Nossos Pets</a>
        </li>
      </ul>
    </nav>
  </div>
</header>